<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="stylesheets/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <title>Boards - <%= username %></title>
</head>

<body id="white-board">
  <header>
    <h1>My Boards</h1>
  </header>
  <% include navigation.ejs %>
  <div class="list-boards">
    <div class="row-list">
      <!---<a href="./index"><p>Individual Board Title 1 </p></a>--->
      <button type="button" contenteditable="true">Create New Board</button>
    </div>
  </div>
  <h1 class="shared">Boards Shared With Me</h1>
  <div class="shared-boards">
    <div class="row-list">
      <!---<a href="./index"><p>Individual Board Title 1 </p></a>--->
    </div>
  </div>
</body>

<script type="text/javascript" src="javascripts/boards.js"></script>


</html>
