<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="stylesheets/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/boards.js" async></script>
  <title>Boards <%= username %></title>
</head>

<body id="white-board">
  <header>
    <h1>Boards</h1>
  </header>
  <% include navigation.ejs %>
  <div class="list-boards">
    <div class="row-list">
      <a href="./index"><p>Individual Board Title 1 </p></a>
      <button type="button">Create New Board</button>
      <br>
    </div>
    <div class="row-list">
      <a href="./"><p>Individual Board Title 2 </p></a>
      <button type="button">Create New Board</button>
      <br>
    </div>
    <div class="row-list">
      <a href="./"><p>Individual Board Title 3 </p></a>
      <button type="button">Create New Board</button>
      <br>
    </div>
    <div class="row-list">
      <a href="./"><p>Individual Board Title 4 </p></a>
      <button type="button">Create New Board</button>
      <br>
    </div>

  </div>
  <div class="boards-main">
    <p><button type="button" class="boards-button">Add Board +</button></p>
  </div>
</body>

</html>
