<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="stylesheets/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>forgot-password</title>
</head>

<body id="login-page">
  <nav id="main-navbar">
    <div id="third-width">
    </div>
    <div id="third-width34">
      <p>Prello</p>
    </div>
    <div id="third-width">
    </div>
  </nav>
  <h2>forgot-password</h2>
  <form id="sign-up-form" action="/confirmEmail" method="POST">
  <div class="form-center">
    <p>Email<br><input id="email" name="email" class="input-text" type="email" placeholder="e.g., jdoe@gmail.com" required></p>
    <p><input type="submit" value="submit"></p>
  </div>
  </form>
</body>
<script> var email = '<%- email %>'; </script>
<script type="text/javascript" src="javascripts/forgot-password.js"></script>


</html>
