<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../stylesheets/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    //var socket = io();
    //
  </script>
  <title></title>
</head>

<body id="blue-background">
  <% include navigation.ejs %>
  <h1 contenteditable="true" id="h1-white"></h1>
  <header>
    <div class="options">
      <div class="options-dropdown">
        <p id="menu-btn">Show Menu</p>
        <div class="options-content">
          <div class="menu-title">
            <h4>Menu</h4>
            <span id="menu-btn-exit">X</span>
          </div>
          <p id="add-new-user">Add a new user to Board</p>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
          <a href="#">Option 4</a>
          <a href="#">More Options</a>
        </div>
      </div>
    </div>
  </header>
  <div id="board" class="board">
    <div id="list-list" class="list-list">
    </div>
    <div class="list-cards add-list">
      <button id="add-new-list" type="button">Add a new list +</button>
    </div>
  </div>
</body>
<script> var url = '<%- url %>'; </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io();
</script>
<script type="text/javascript" src="../javascripts/board.js" ></script>
</html>
