<nav id="main-navbar">
  <div id="third-width">
    <div class="dropdown">
      <p id="boards-btn">Boards</p>
      <div class="dropdown-content">
        <a href="http://localhost:3000/boards">Individual Board Name 1</a>
        <a href="#">Add Board +</a>

      </div>
    </div>
  </div>
  <div id="third-width34">
    <p>Prello</p>
  </div>
  <div id="third-width">
    <a href="http://localhost:3000/login"><p>Sign Out</p></a>
  </div>
</nav>
