<nav id="main-navbar">
  <div id="third-width">
    <div class="dropdown">
      <p id="boards-btn">Boards</p>
      <div class="dropdown-content">
        <a href="#">Individual Board Name 1</a>
        <a href="#">Individual Board Name 2</a>
        <a href="#">Individual Board Name 3</a>
        <a href="#">Individual Board Name 4</a>
        <a href="#">Add Board +</a>

      </div>
    </div>
  </div>
  <div id="third-width34">
    <p>Prello</p>
  </div>
  <div id="third-width">
    <a href="./login.html"><p>Sign Out</p></a>
  </div>
</nav>
