<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../stylesheets/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Reset password</title>
</head>

<body id="login-page">
  <nav id="main-navbar">
    <div id="third-width">
    </div>
    <div id="third-width34">
      <p>Prello</p>
    </div>
    <div id="third-width">
    </div>
  </nav>
  <h2>Reset Password</h2>
  <form id="sign-up-form" action="" method="POST">
  <div class="form-center">
    <p>Password<br><input id="password" name="password" class="input-text" type="password" placeholder="" required></input></p>
    <p>Confirm Password<br><input id="confirm-password" class="input-text" type="password" placeholder="" required></input></p>
    <p><input type="submit" value="Sign Up"></p>
  </div>
  </form>
</body>
<script> var hashKey = '<%- hashKey %>'; </script>
<script> var userID = '<%- _id %>'; </script>
<script type="text/javascript" src="../javascripts/reset-password.js" ></script>

</html>
